/*----CSS reset *---/

* {
   padding: 0;
   margin: 0;
   font-size: 80%;
   line-height: 1em;
}

/*------ MAIN STYLING ----*/
body {
     width: 100%;
     max-width: 600px;
     margin: auto;
     background: black
     color: black;
     font-family: sans-serif;
     font-size: 10%:
     text-align: center;
     font-weight: normal;

}

/*--- TYPOGRAPHY ----*/
h1, h2, h3, blockqoute, dropcap {color: #9CBF50}

h1  {
     font-weight: normal;
     color: black;
     text-align: center;
     font-family: 'libre Baskerville', serif;
     font-size: 10em;
   }


 h2 {
  font-weight: normal;
  color: black;
  text-align:center;
  font-family: 'libre Baskerville', serif;
  font-size: 1.999em
  margin: 5em 0 1 em 0;
}

p, blockquote {
   margin-bottom: 1.5em;
   line-height: 1.2;
}


h1 {
   font-size: 3.4em;
   margin-top: 2em;
   text-align: center;
   font-style:  'Libre Baskerville', serif;
 }


blockquote {
     font-family: 'Libre Baskerville', serif;
     font-size: 1.3em;
     color: grey;
     hanging-punctuation: first;
     text-indent: -0.42em;
}
blockquote cite {
    font-size: 0.75em;
    color: grey;

 }

 intro { font-size: 1.25em; }

 .dropcap {
        float: left;
        font-size: 4.7em;
        line-height: 0.8em;
        margin-right: 0px;
 }

 /*-------- SETTING UP STYLING FOR VERSION 1 -----*/
    .version1 {
      padding-top: 50px;
      font-family: 'Libre Baskerville', serif;

    }
    .version1 blockquote { font-family: 'Libra Baskerville',serif;}
    .version1 .intro {padding-bottom: 1em;}
    .version1 blockqoute {line-height: 1.4}
    .version1 h2 {font-family: 'Libre Baskerville', serif;}
.version1 h1 { color: #9CBF50}
    /*--------SETTING UP STYLING FOR VERSION 2-------*/

    .version2 {font-family: 'Open Sans', sans-serif;}

    .introcaps {
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      h1, h2, h3, blockqoute, dropcap {color: #9CBF50}
    }
    .version2 cite {
      font-style: normal;
      text-transform: uppercase;
    }
    .version2 p+p {margin-bottom: -1em}

    .version2 p+p+p {
      text-indent:1.5em;
    }
.version2 h3 {font-family: 'Open Sans', sans-serif;}
.version2 h1 {font-family: 'Open Sans', sans-serif;
color: #9CBF50 }
.version2 h2 {font-family: 'Open Sans', sans-serif;}



.version3 {font-family: 'lato';}
.version3 h1, h2, h3, blockquote, dropcap {font-family: 'lato', serif;}
.version3 h1 {color: #9CBF50}


selection blockquote {font-family: 'Libre Baskerville', serif;}



hr {
  margin: 100px 0;
  height: 1px;
  background-color:rgb(13, 121, 110);
  color:rbg(13, 121, 110);
  border: 0 none;
}

.version2 blockquote {font-family: 'Open Sans', sans-serif;}
